extends ../layout/layout.pug

block page-content
  article.me
    section.about-section
      header
        h1.name Borisov Semen
      .myspeak
        p 
          | I'm fond of the web and everything which is related to it. 
          | I specialize in creating layouts for different browsers 
          | and developed my skills in html5, css3, sass, jade and etc.

        p 
          | I'm fond of the web and everything which is related to it. 
          | I specialize in creating layouts for different browsers 
          | and developed my skills in html5, css3, sass, jade and etc.

        p Now i contribute to opensource-projects (stylelint, smogger)

        p My main goal is to go ahead as a proffession CS-engineer.

      footer.social-links
        | I’m in 
        a(href="") Linkedin
        |, 
        a(href="") Github
        |, 
        a(href="") Behance
        |, 
        a(href="") Medium
        |. 
        a(href="") Email me.				
							
    section.unsplash-section
      figure.photo
        div.photo-img
        figcaption.photo-description 
          a(href="") unsplash/@devsnice
