@import "../styles/vars";

.me {
  display: flex;
  padding: 100px 50px;
  height: 100%;
  max-width: 1440px;
  width: 100%;
  margin: 0 auto;
}

.about-section {
  width: 50%;
  padding-right: 80px;
  display: flex;
  flex-direction: column;
}

.unsplash-section {
  width: 50%;
  height: 100%;
}

.name {
  font-family: $fontHeader;
  font-size: 85px;
  letter-spacing: 0.2px;
  color: #2a2b23;
  line-height: 63px;
  margin: 0 0 35px;
  text-transform: uppercase;
}

.myspeak {
  flex-grow: 1;

  p {
    font-size: 22px;
    line-height: 28px;
    color: #353535;
    margin-bottom: 20px;
  }
}

.social-links {
  line-height: 30px;
}

.photo {
  width: 100%;
  height: calc(100% - 30px);
  margin: 0;
  padding: 0;

  &-img {
    background: url("/images/me.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100%;
  }

  &-description {
    height: 30px;
    line-height: 30px;
    text-align: right;
  }
}
