extends ../layout/layout.pug

block page-content
  article.me
    section.about-section
      header
        h1.name Borisov Semen
      .myspeak
        p 
          | Hey! I love programming and work as a developer since 2013. Now I work as a web software engineer for 
          a(href="https://revolut.com").revolut-link Revolut. 

        p 
          | My main goal is growing as a cs-engineer. 
          | In 2018 I’ve graduated from 
          a(href="https://academy.yandex.ru/events/frontend/shri_msk-2018-2/") Yandex frontend school
          | .
          | I really like open-source and I try to help the community 
          | (
          a(href="https://github.com/devsnice?org=stylelint&year_list=1") stylelint
          | , 
          a(href="https://github.com/m3-moretv/smogger") smogger
          | ).

        p
          | Now I'm working around typescript and graphql

      footer.social-links
        | I’m in 
        a(href="https://www.linkedin.com/in/semyon-borisov-38412211b") Linkedin
        |, 
        a(href="https://github.com/devsnice") Github
        |, 
        a(href="https://www.behance.net/devsnice1c85") Behance
        |, 
        a(href="https://medium.com/@iamsemen") Medium
        |. 
        a(href="mailto:devsnice@gmail.com") Email me.				
							
    section.unsplash-section
      figure.photo
        div.photo-img
        figcaption.photo-description 
          a(href="https://unsplash.com/@devsnice") unsplash/@devsnice
