/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.application {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  min-height: 100vh;
  min-width: 1366px;
  position: relative;
}

@media (max-width: 768px) {
  .application {
    min-width: 100%;
  }
}

.application-content {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

@media (max-width: 768px) {
  .application-content {
    margin-top: 51px;
  }

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .application-content {
      margin-top: 0;
    }
}
}

.application_state-frozen {
  height: 100%;
  overflow: hidden;
}

.application_state-blured {
  -webkit-filter: blur(3px);
  filter: blur(3px);
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.dashboard {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  padding: 0 40px;
  margin-top: 30px;
}

@media screen and (max-width: 768px) {
  .dashboard {
    padding: 0 20px;
    margin-top: 13px;
  }
}

.dashboard-panel {
  width: 100%;
}

.dashboard-panel-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
  margin-bottom: 20px;
}

.dashboard-panel-header__filters {
  margin-left: 13px;
  float: right;
}

@media (max-width: 768px) {
  .dashboard-panel-header__filters {
    display: none;
  }
}

@media (max-width: 768px) {
  .dashboard-panel-header_m-hidden {
    display: none;
  }
}

.dashboard-panel-header_type-scripts {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dashboard-panel-header_type-devices {
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

.dashboard-panel-filters {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

.dashboard-panel__title {
  font-weight: 700;
  font-size: 18px;
  color: #333333;
}

.dashboard-panel_type-half {
  width: 49%;
}

@media (max-width: 768px) {
  .dashboard-panel_type-half {
    width: 100%;
  }
}

@media (max-width: 768px) {
  .dashboard-panel_type-scripts {
    margin-top: 30px;
  }
}

.dashboard-panel_type-bottom {
  margin-top: 34px;
}
h1,
h2,
h3,
h4,
h5,
h6,
ul,
p {
  margin: 0;
  padding: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

html,
body {
  height: 100%;
}

body {
  font-family: Arial;
}

* {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

button,
input[type="submit"],
input[type="reset"] {
  background: none;
  color: inherit;
  border: none;
  padding: 0;
  font: inherit;
  cursor: pointer;
}

.invisible {
  visibility: hidden;
  position: absolute;
  top: -9999px;
  left: -9999px;
}
/*! normalize.css v8.0.0 | MIT License | github.com/necolas/normalize.css */

/* Document
   ========================================================================== */

/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */

html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */

/**
 * Remove the margin in all browsers.
 */

body {
  margin: 0;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */

h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */

/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */

hr {
  -webkit-box-sizing: content-box;
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */

/**
 * Remove the gray background on active links in IE 10.
 */

a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */

abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */

b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */

code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */

small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */

/**
 * Remove the border on images inside links in IE 10.
 */

img {
  border-style: none;
}

/* Forms
   ========================================================================== */

/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */

button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */

button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */

button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */

button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */

fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */

legend {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */

progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */

textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */

[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */

[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */

[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */

::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */

/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */

details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */

summary {
  display: list-item;
}

/* Misc
   ========================================================================== */

/**
 * Add the correct display in IE 10+.
 */

template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */

[hidden] {
  display: none;
}
.card {
  width: 200px;
  height: 120px;
  background: #f7f7f7;
  border-radius: 20px;
  margin-bottom: 15px;
  padding: 14px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  cursor: pointer;
}

.card-icon {
  pointer-events: none;
}

.card-info {
  pointer-events: none;
}

.card-info__title {
  font-size: 14px;
  color: #333333;
  letter-spacing: 0;
  line-height: 16px;
  font-weight: 700;
}

.card-info__desc {
  font-size: 12px;
  color: #858585;
  letter-spacing: 0.01px;
  margin-top: 4px;
}

.card:hover {
  background: #ffffff;
  -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  -webkit-transition: 0.2s ease-in;
  transition: 0.2s ease-in;
}

.card_type-height-100 {
  height: 100px;
}

.card_type-scripts {
  width: 100%;
  height: 100px;
}

.card_type-scripts .card-info__title {
  width: 200px;
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.filters__item {
  display: inline-block;
  border-radius: 20px;
  background: #f7f7f7;
  padding: 8px 15px;
  font-weight: 700;
  font-size: 13px;
  margin-right: 10px;
  cursor: pointer;
  -ms-flex-negative: 0;
  flex-shrink: 0;
}

.filters__item:last-child {
  margin-right: 0;
}

.filters__item_state-active {
  background: #ffd93e;
}

@media (max-width: 768px) {
  .filters__item {
    font-weight: 400;
  }
}

.filters__item:hover,
.filters__item:focus,
.filters__item:active {
  background: rgba(255, 217, 62, 0.4);
}

.filters__item:active {
  background: rgba(255, 217, 62, 0.7);
}

.filters_type-with-scroll {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: scroll;
  width: 100%;
}
.footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  padding: 0 40px 27px;
  background: #fff;
}

@media screen and (max-width: 768px) {
  .footer {
    display: block;
    margin-top: 30px;
    padding: 0 0 20px 27px;
  }
}

.footer-links__item {
  display: inline-block;
  font-size: 12px;
  color: #858585;
  text-align: left;
  font-family: Arial;
  padding-right: 15px;
}

@media screen and (max-width: 768px) {
  .footer-links__item {
    display: block;
    line-height: 20px;
  }
}

.footer-copyright {
  font-size: 12px;
  color: #858585;
  text-align: left;
}

@media screen and (max-width: 768px) {
  .footer-copyright {
    margin-top: 15px;
  }
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.header {
  background: #fff;
  border-bottom: 1px solid #f0f0f0;
  height: 92px;
  width: 100%;
}

@media (max-width: 768px) {
  .header {
    height: 51px;
    top: 0;
    position: fixed;
    border-bottom: none;
  }

@supports ((position: -webkit-sticky) or (position: sticky)) {
    .header {
      position: -webkit-sticky;
      position: sticky;
    }
}
}

.header-content {
  position: relative;
  height: 100%;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 40px;
}

@media (max-width: 768px) {
  .header-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
    padding: 0 20px;
  }
}

.header-logotype {
  padding: 32px 0;
  float: left;
}

@media (max-width: 768px) {
  .header-logotype {
    padding: 0;
  }
}

.header-menu {
  margin-left: 52px;
  padding: 36px 0;
}

@media (max-width: 768px) {
  .header-menu {
    padding: 0;
    margin: 0;
  }
}

@media (max-width: 768px) {
  .header-menu-list {
    display: none;
  }
}

.header-menu-list__item {
  display: inline-block;
  margin-right: 28px;
  font-size: 16px;
  color: #333333;
  line-height: 20px;
  opacity: 0.6;
  font-weight: 700;
}

.header-menu-list__item_state-active {
  opacity: 1;
}

.header-menu-list__item:hover,
.header-menu-list__item:focus {
  color: #333333;
}

.header-menu-list_state-mobile {
  position: absolute;
  top: 51px;
  width: 100%;
  height: auto;
  background: #fff;
  padding: 50px 0;
  left: 0;
  -webkit-box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
  box-shadow: 0 2px 6px 0 rgba(197, 186, 186, 0.5);
}

.header-menu-list_state-mobile .header-menu-list__item {
  display: block;
  height: 40px;
  line-height: 40px;
  font-size: 24px;
  text-align: center;
  margin-right: 0;
}

.header-menu-list_state-mobile-opened {
  display: block;
}

.header-menu__burger {
  cursor: pointer;
  display: none;
}

.header-menu__burger img {
  width: 16px;
  height: 13px;
}

@media (max-width: 768px) {
  .header-menu__burger {
    display: block;
  }
}

.logotype {
  width: 127px;
  height: 27px;
  display: block;
}

@media (max-width: 768px) {
  .logotype {
    width: 110px;
  }
}
.icon {
  vertical-align: middle;
}

.icon_rotate-180 {
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
}

.icon_rotate-270 {
  -webkit-transform: rotate(270deg);
  transform: rotate(270deg);
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.custom-dropdown__select {
  height: 30px;
  padding: 0 0 0 16px;
  font-family: Arial;
  font-size: 13px;
  font-weight: 700;
  background-color: #ffd93e;
  color: #444;
}

.custom-dropdown__arrow {
  visibility: hidden;
}

@media (min-width: 768px) {
  .custom-dropdown_type-mobile {
    display: none;
  }
}

@supports (pointer-events: none) and ((-webkit-appearance: none) or (-moz-appearance: none) or (appearance: none)) {
  .custom-dropdown {
    position: relative;
  }

  .custom-dropdown__select {
    padding-right: 32px;
    border: 0;
    border-radius: 20px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }

  .custom-dropdown__select[disabled] {
    color: rgba(0, 0, 0, 0.3);
    background-color: #e3e3e3;
  }

  .custom-dropdown__select:focus + .custom-dropdown__arrow,
  .custom-dropdown__select:active + .custom-dropdown__arrow {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }

  .custom-dropdown__arrow {
    content: "";
    -webkit-transition: 0.2s ease;
    transition: 0.2s ease;
    visibility: visible;
    pointer-events: none;
    position: absolute;
    top: 6px;
    right: 15px;
    width: 12px;
  }
}
.pager {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline;
}

@media screen and (max-width: 768px) {
  .pager {
    display: none;
  }
}

.pager__page {
  height: 20px;
  -webkit-transition: 0.2s ease;
  transition: 0.2s ease;
}

.pager__page_back {
  margin-right: 22px;
}

.pager__page:hover {
  opacity: 0.7;
}

.pager__page:disabled {
  opacity: 0.3;
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.popup {
  position: absolute;
  left: -1000px;
  top: -1000px;
  visibility: hidden;
  -webkit-transform-origin: top left;
  transform-origin: top left;
  width: 630px;
  -webkit-transition-timing-function: ease;
  transition-timing-function: ease;
}

@media (max-width: 768px) {
  .popup {
    max-width: 100%;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
  }
}

.popup-layout {
  background: rgba(51, 51, 51, 0.5);
  -webkit-transition: background 0.3s ease-in;
  transition: background 0.3s ease-in;
  width: 100%;
  height: 100%;
  visibility: hidden;
  overflow: hidden;
  position: fixed;
  top: 0;
  left: 0;
}

.popup-layout_state-opened {
  visibility: visible;
}

.popup-body {
  background: #fff;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
  padding: 26px 25px 25px;
}

@media (max-width: 768px) {
  .popup-body {
    height: 70%;
    margin: 20px 20px 0 20px;
  }
}

.popup-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
  width: 100%;
}

.popup-header__title {
  font-size: 27px;
  color: #333333;
  font-weight: 700;
}

@media (max-width: 768px) {
  .popup-header__title {
    font-size: 18px;
  }
}

.popup-header__info {
  width: 100%;
}

.popup-header__filter {
  width: calc(100% + 50px);
  margin: 25px -25px 0;
  padding-left: 25px;
}

@media (max-width: 768px) {
  .popup-header__filter {
    margin-top: 15px;
  }
}

.popup-header__extra {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

@media (max-width: 768px) {
  .popup-header__extra {
    display: none;
  }
}

.popup-header__icon {
  -ms-flex-item-align: start;
  align-self: flex-start;
}

.popup-header__desc {
  margin-top: 6px;
  font-size: 14px;
  color: #333333;
}

@media (max-width: 768px) {
  .popup-header__desc {
    font-size: 12px;
  }
}

.popup-header__temperature {
  font-weight: 700;
  font-size: 36px;
  color: #333333;
}

.popup-content {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
}

.popup-footer {
  margin-top: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
  -ms-flex-pack: justify;
  justify-content: space-between;
}

@media (max-width: 768px) {
  .popup-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-preferred-size: 135px;
    flex-basis: 135px;
    margin: 20px 20px 0;
  }

  .popup-footer .button {
    width: 100%;
  }
}

.popup_state-finished .popup-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  width: 307px;
  height: 60px;
  border-radius: 20px;
  display: block;
  font-weight: 700;
  font-size: 18px;
  color: #000000;
  text-align: center;
  cursor: pointer;
  border: none;
}

.button_type-yellow {
  background: #ffd93e;
}

.button_type-white {
  background: #ffffff;
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.range_temperature {
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .range_temperature {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.range_temperature .range-label {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.range_temperature .range-label__text {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

@media (max-width: 768px) {
  .range_temperature .range-label__text {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.range_temperature .range-label_min {
  left: 18px;
}

.range_temperature .range-label_max {
  right: 18px;
}

.range_temperature input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 27px 0;
}

.range_temperature input[type="range"]:focus {
  outline: none;
}

.range_temperature input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 60px;
  cursor: pointer;
  border-radius: 25px;
  border: 0px solid #010101;
  border-radius: 35px;
  background: -webkit-gradient(linear, left top, right top, from(#068fff), color-stop(50%, #ffd800), to(#f76b1c));
  background: linear-gradient(90deg, #068fff 0%, #ffd800 50%, #f76b1c 100%);
}

.range_temperature input[type="range"]::-webkit-slider-thumb {
  height: 68px;
  width: 68px;
  border-radius: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  border: 4px solid #fff;
  -webkit-appearance: none;
  margin-top: -4px;
}

.range_temperature input[type="range"]::-moz-range-track {
  width: 100%;
  height: 60px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: linear-gradient(90deg, #068fff 0%, #ffd800 50%, #f76b1c 100%);
  border-radius: 30px;
  border: 0px solid #010101;
}

.range_temperature input[type="range"]::-moz-range-thumb {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
}

.range_temperature input[type="range"]::-ms-track {
  width: 100%;
  height: 60px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  background: linear-gradient(90deg, #068fff 0%, #ffd800 50%, #f76b1c 100%);
  border-radius: 50px;
}

.range_temperature input[type="range"]::-ms-fill-lower {
  border-size: 0px;
}

.range_temperature input[type="range"]::-ms-fill-upper {
  border-size: 0px;
}

.range_temperature input[type="range"]::-ms-thumb {
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}

.range_light {
  width: 100%;
  position: relative;
}

@media (max-width: 768px) {
  .range_light {
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
  }
}

.range_light .range-label {
  content: "";
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
}

.range_light .range-label__text {
  font-size: 18px;
  color: #ffffff;
  font-weight: 600;
}

@media (max-width: 768px) {
  .range_light .range-label__text {
    -webkit-transform: rotate(90deg);
    transform: rotate(90deg);
  }
}

.range_light .range-label_min {
  left: 18px;
}

.range_light .range-label_max {
  right: 18px;
}

.range_light input[type="range"] {
  -webkit-appearance: none;
  width: 100%;
  margin: 27px 0;
}

.range_light input[type="range"]:focus {
  outline: none;
}

.range_light input[type="range"]::-webkit-slider-runnable-track {
  width: 100%;
  height: 60px;
  cursor: pointer;
  border-radius: 25px;
  border: 0px solid #010101;
  border-radius: 35px;
  background: linear-gradient(85deg, #ffe682 2%, #ff9e00 98%);
}

.range_light input[type="range"]::-webkit-slider-thumb {
  height: 68px;
  width: 68px;
  border-radius: 100%;
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  -webkit-box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  border: 4px solid #fff;
  -webkit-appearance: none;
  margin-top: -4px;
}

.range_light input[type="range"]::-moz-range-track {
  width: 100%;
  height: 60px;
  cursor: pointer;
  box-shadow: 1px 1px 1px rgba(0, 0, 0, 0), 0px 0px 1px rgba(13, 13, 13, 0);
  background: linear-gradient(85deg, #ffe682 2%, #ff9e00 98%);
  border-radius: 30px;
  border: 0px solid #010101;
}

.range_light input[type="range"]::-moz-range-thumb {
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  cursor: pointer;
}

.range_light input[type="range"]::-ms-track {
  width: 100%;
  height: 60px;
  cursor: pointer;
  border-color: transparent;
  color: transparent;
  background: linear-gradient(85deg, #ffe682 2%, #ff9e00 98%);
  border-radius: 50px;
}

.range_light input[type="range"]::-ms-fill-lower {
  border-size: 0px;
}

.range_light input[type="range"]::-ms-fill-upper {
  border-size: 0px;
}

.range_light input[type="range"]::-ms-thumb {
  cursor: pointer;
  background: rgba(0, 0, 0, 0);
  box-shadow: inset 0 0 0 3px rgba(51, 51, 51, 0.1);
  border: 4px solid #fff;
  height: 60px;
  width: 60px;
  border-radius: 100%;
}
#termostat-marks line:nth-child(-n) {
  stroke: #f5a623;
}

.termostat {
  position: relative;
  width: 221px;
  height: 221px;
  padding: 21px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

.termostat-marks {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}

.termostat-marks__line {
  stroke-width: 1px;
  stroke: #333333;
  opacity: 0.7;
}

.termostat-circle {
  background: #fefefe;
  -webkit-box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  box-shadow: 0 2px 4px 0 rgba(134, 121, 71, 0.45);
  width: 178px;
  height: 178px;
  border-radius: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.termostat-arrow {
  height: 50%;
  width: 1px;
  position: absolute;
  bottom: 0;
  left: 50%;
  -webkit-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transform-origin: top center;
  transform-origin: top center;
}

.termostat-arrow:before {
  content: "";
  position: absolute;
  width: 12px;
  height: 8px;
  bottom: 0;
  left: -5px;
  -webkit-transform: rotate(180deg);
  transform: rotate(180deg);
  background: url("/images/termostat_arrow.svg");
}

.termostat-value {
  font-weight: 700;
  font-size: 66px;
  color: #333333;
  letter-spacing: 0;
  text-align: left;
  pointer-events: none;
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.widget-devices {
  overflow: hidden;
  height: 125px;
  margin: 0 -40px;
  max-width: calc(100% + 80px);
}

@media (max-width: 768px) {
  .widget-devices {
    margin: 0 -20px;
    max-width: calc(100% + 40px);
  }
}

.widget-devices-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  overflow: hidden;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
}

@media (max-width: 768px) {
  .widget-devices-list {
    overflow: auto;
  }
}

.widget-devices-item {
  margin-right: 15px;
}

.widget-devices-item:last-child {
  margin-right: 0;
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.widget-scripts {
  overflow: hidden;
}

@media (max-width: 768px) {
  .widget-scripts {
    width: 100vw;
    margin: 0px -20px;
    height: 100px;
  }
}

.widget-scripts-item {
  padding-right: 15px;
  width: 33.33%;
}

@media screen and (min-width: 768px) {
  .widget-scripts-item:nth-child(3n) {
    padding-right: 0px;
  }
}

.widget-scripts-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-transition: 0.4s ease;
  transition: 0.4s ease;
  width: 300%;
}

@media (max-width: 768px) {
  .widget-scripts-list {
    width: 100%;
    padding-left: 20px;
    overflow-y: auto;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
  }
}

.widget-scripts__page {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
}

@media (max-width: 768px) {
  .widget-scripts__page {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    width: auto;
  }
}
/**
 *  Media mixin
 *  
 *  How to use:
 *  @include media("mobile") - @media screen and (max-width: 768px)
 *  @include media("desktop")- @media screen and (min-width: 768px)
**/

.dashboard-main {
  padding: 25px 20px 0 25px;
}

@media (min-width: 768px) {
  .dashboard-main {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -ms-flex-pack: justify;
    justify-content: space-between;
  }
}

@media (max-width: 768px) {
  .dashboard-main {
    padding: 20px 20px 20px 25px;
  }
}

.dashboard-main__title {
  font-weight: 700;
  font-size: 27px;
  color: #333333;
  margin-bottom: 6px;
}

@media (max-width: 768px) {
  .dashboard-main__title {
    font-size: 18px;
    margin-bottom: 5px;
  }
}

.dashboard-main__status {
  font-size: 14px;
  color: #333333;
}

@media (max-width: 768px) {
  .dashboard-main__status {
    font-size: 12px;
  }
}

.dashboard-main_type-background {
  background: #eee;
  background: url("/images/bg@2x.png");
  background-size: cover;
  background-position: center;
  border-radius: 20px;
  height: 331px;
}

@media screen and (max-width: 768px) {
  .dashboard-main_type-background {
    height: auto;
  }
}

.widget-temp {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 25px;
}

@media screen and (max-width: 768px) {
  .widget-temp {
    margin-top: 15px;
  }
}

.widget-temp-item {
  margin-right: 18px;
}

.widget-temp-item__title {
  font-size: 14px;
  color: #858585;
  margin-bottom: 4px;
  line-height: 16px;
}

@media (max-width: 768px) {
  .widget-temp-item__title {
    font-size: 12px;
  }
}

.widget-temp-item__value {
  font-weight: 700;
  font-size: 36px;
  line-height: 43px;
  color: #333333;
}

@media (max-width: 768px) {
  .widget-temp-item__value {
    font-size: 24px;
    line-height: 28px;
  }

  .widget-temp-item__value .icon {
    width: 18px;
    height: 18px;
  }
}

.widget-temp-item__icon {
  display: inline-block;
}

.widget-actions {
  overflow: hidden;
  margin: 20px -20px 0 -25px;
  height: 120px;
}

@media (min-width: 768px) {
  .widget-actions {
    height: 331px;
    margin: -25px 0 0 -25px;
    position: relative;
    width: 200px;
  }
}

.widget-actions-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-left: 20px;
  overflow-y: auto;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

@media (min-width: 768px) {
  .widget-actions-list {
    width: 220px;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    padding-top: 20px;
    overflow: scroll;
    height: 100%;
  }
}

@media (max-width: 768px) {
  .widget-actions-item {
    margin-right: 15px;
  }
}

.widget-actions__next {
  left: 0;
  cursor: pointer;
  position: absolute;
  width: 200px;
  background: #f7f7f7;
  height: 41px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center;
  visibility: hidden;
}

.widget-actions__next_visible {
  visibility: visible;
}

.widget-actions__next {
  bottom: 0;
  border-radius: 20px 20px 0 0;
}